<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SoftwareIdeasServer.Gui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
    <userSettings>
        <SoftwareIdeasServer.Gui.Properties.Settings>
            <setting name="ServerConnectionTimeout" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="ServerDataChunkSize" serializeAs="String">
                <value>262144</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="ServerAddress" serializeAs="String">
              <!--<value>http://DEVELOPPC:8081/SoftwareIdeasServer.SoftwareIdeasService.svc</value>-->
              <value>net.tcp://ideas:7766/software-ideas</value>
              <!--<value>net.tcp://localhost:8080/software-ideas</value>-->
            </setting>
            <setting name="ServerUpnIdentityName" serializeAs="String">
                <value>user@softwareideas</value>
            </setting>
            <setting name="ServerSpnIdentityName" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerDnsIdentityName" serializeAs="String">
                <value />
            </setting>
        </SoftwareIdeasServer.Gui.Properties.Settings>
    </userSettings>
</configuration>
